# OS
.DS_Store

# Python
__pycache__/
*.py[cod]
*.so
*.egg-info/
.eggs/
build/
dist/
pip-wheel-metadata/

# Virtual envs
.venv/
venv/
env/

# Editors
.vscode/
.idea/

# Jupyter
.ipynb_checkpoints/

# Logs/misc
*.log
